@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #262626 0%, #333333 45%, #2d2d2d 100%);
  background-attachment: fixed;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #484848;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #DEFF9A;
}
